.contacts {
  // @extend %section;
	
	background-repeat: no-repeat;
	background-size: contain;
  background-color: #191c26;
	background-position: bottom;
  
  background-image: linear-gradient(rgba(1, 1, 10, 0.907), rgba(1, 1, 14, 0.841)),
   url('../images/contacts/con_S.jpg');
  
  @media (min-device-pixel-ratio:2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx){
   background-image: url('../images/contacts/con@2x_S.jpg');
  }

  padding-top: 84px;
	padding-bottom: 84px;

	
		@media  screen and (min-width: 768px){
      background-image: linear-gradient(rgba(1, 1, 10, 0.907), rgba(1, 1, 14, 0.841)), 
      url('../images/contacts/con_M.jpg');

    @media (min-device-pixel-ratio:2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx){
   background-image: url('../images/contacts/con@2x_M.jpg');
  }
			padding-top: 100px;
			padding-bottom: 100px;
	}
	
		@media  screen and (min-width: 1200px){
      background-position: top 50% left calc(50% + 400px);
      background-image: linear-gradient(rgba(1, 1, 10, 0.907), rgba(1, 1, 14, 0.841)), 
      url('../images/contacts/con_L.jpg');

      @media (min-device-pixel-ratio:2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx){
       background-image: url('../images/contacts/con@2x_L.jpg');
      }
			padding-top: 130px;
			padding-bottom: 120px;
	
}
  &__container {
    display: block;
    text-align: center;
    // padding-left: 31px;
    // padding-right: 31px;

    @media  screen and (min-width: 768px){
      text-align: start;
      // padding-left: 39px;
      // padding-right: 39px;
    }
    @media  screen and (min-width: 1200px){
      display: flex;
    }
    
  }
  
  &__left-side {
    @media  screen and (max-width: 767px){
      
      margin-bottom: 84px;
    }
   

    @media  screen and (min-width: 768px)and (max-width:1199px){
      padding-bottom: 100px;
      
    }

    @media  screen and (min-width: 1200px){
      flex-basis: 50%;

    }
    
  }
  
  &__right-side {
    padding-top: 84px;
    @media  screen and (min-width: 768px)and (max-width:1199px){
      display: flex;
    }

    @media  screen and (min-width: 1200px){
      padding-top: 0;
      flex-basis: 50%;
      padding-left: 100px;
    }
    
  }
  
  &__uppertitle {
    color: #ffffff;
  }
  
  &__form{
    width: 418px;

    @media  screen and (min-width: 768px){
      width: 690px;

    }
    @media  screen and (min-width: 1200px){
      width: 570px;
    }

  }

  &__list{
    text-align: start;
  }
  &__address {
    font-style: normal;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: #9da4bd;
    
    @media  screen and (max-width: 767px){
      margin-bottom: 44px;
    }
    
    
    @media  screen and (min-width:1199px){
      margin-bottom: 70px;
    }


    
  }
  
  &__item:not(:last-child) {
    margin-bottom: 20px;
  }
  
  &__link {
    width: 270px;
    display: flex;
    gap: 16px;
  }
  
  &__scedule {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: #9da4bd;
    text-align: start;
  }

  &__right-second{
    @media  screen and (min-width: 768px)and (max-width:1199px){
     padding-top: 89px;
     margin-left: 90px;
    }

  }
}
.mail{
  text-decoration:underline;
}

