.team {
  // @extend %section;
  
	background-color: #f7f7f7;

  padding-top: 84px;
	padding-bottom: 84px;

	
		@media  screen and (min-width: 768px){
			padding-top: 100px;
			padding-bottom: 100px;
	}
	
		@media  screen and (min-width: 1200px){
			padding-top: 120px;
			padding-bottom: 120px;
	
}

  &__list{
   
    --items: 1;
    --indent: 64px;
  
    @media  screen and (min-width: 768px)and (max-width:1199px){
      justify-content: center;
  }
   @media screen and (min-width: 1200px){
    --items: 3;
    --indent: 30px;
    
   }

  }

  &__item{
 width: 418px;

 @media screen and (min-width: 768px) and (max-width:1199px){
  width: 450px;
  justify-content: center;
  
 }
 @media screen and (min-width: 1200px){
  max-width: 370px;
  
  
 }
}
  
  &__title {
    margin-bottom: 44px;
  }
  
//   &__picture{
//     width: 418px;
//     height: 346px;

//     @media  screen and (min-width: 768px){
// 			width: 450px;
// 	}
	
// 		@media  screen and (min-width: 1200px){
// 			width: 370px;
	
// }
//   }
  &__wrapper {
    padding: 30px 0;
  }
  
  &__subtitle {
    margin-bottom: 8px;
  
    font-size: 18px;
    line-height: 1.38;
    text-align: center;
    letter-spacing: 0.02em;
    color: #303030;
  }
  
  &__position {
    margin-bottom: 30px;
  
    font-size: 14px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ff6c00;
  }
}


